body,
html,
#allmap {
  width: 10rem;
  height: 100%;
  margin: 0 auto;
  background-color: #e3e3e3;
}
.continor {
  width: 9.2rem;
  height: 0.86666667rem;
  background-color: #ffffff;
  position: fixed;
  top: 0.8rem;
  left: 0.4rem;
}
.continor .lr_icon_search {
  width: 0.38666667rem;
  height: 0.41333333rem;
  background-position: -0.05333333rem -2.74666667rem;
  position: absolute;
  top: 0.22666667rem;
  left: 0.26666667rem;
  display: block;
}
.continor input {
  width: 100%;
  height: 100%;
  padding: 0 0.93333333rem;
  font-size: 0.34666667rem;
}
.continor .lr_icon_yuyin {
  width: 0.24rem;
  height: 0.48rem;
  background-position: -0.77333333rem -2.70666667rem;
  position: absolute;
  top: 0.17333333rem;
  right: 0.4rem;
  display: block;
}
.footer {
  width: 9.2rem;
  height: 2.33333333rem;
  position: fixed;
  bottom: 0.66666667rem;
  left: 0.4rem;
  background-color: pink;
  border: 1px solid #e3e3e3;
}
.footer .footer_top {
  height: 1.26666667rem;
  border-bottom: 1px solid red;
}
.footer .footer_bot {
  height: 1.06666667rem;
  width: 100%;
}
.footer_bot .bot_near,
.footer_bot .bot_hear,
.footer_bot .bot_daohang {
  width: 33.33333%;
  height: 100%;
}
.footer_bot .bot_near span {
  width: 0.29333333rem;
  height: 0.38666667rem;
  display: block;
  background-position: 0 -3.38666667rem;
}
