<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="js/fixScreen750.js"></script>
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/gc_scenery.css"/>
<!--		<link rel="stylesheet" type="text/css" href="css/gc_details.css"/>-->
	</head>
	<body>
	<div class="gc_Container">
			<!--头部-->
		<header class="gc_header">
			<ul class="gc_tabs">
				<li class="gc_checked"><a href="lt_cate.html">旅游景点</a></li>
				<li><a href="ql_reserve.html">门票预订</a></li>
				<li><a href="gc_map3.html">路线查询</a></li>
				<li><a href="lt_comm.html">互动社区</a></li>
			</ul>
		</header>
		<!--二级标签栏-->
		<div class="gc_tab2contain">
			<ul class="gc_tab2">
				<li class="gc_checked">必看景点</li>
				<li>热门路线</li>
				<li>景点介绍</li>
			</ul>
		</div>
		<!--必看景点-->
		<div class="gc_allCon">
			<div class="gc_jindian gc_Div">
				<!--加载盒子-->
				<div class="gc_jdCon">
					<div class="gc_jdBox">
						<div class="gc_jdimgBox">
							<a href="gc_details.html"><img src="img/gc_bikan1.png"/></a>
						</div>
						<div class="gc_jdtextCon">
							<div class="gc_jdtext">
								<p>武汉东湖</p>
								<div class="gc_priceCon"><span class="gc_price"><a href="#">免费</a></span></div>
								<p>位于中国湖北省武汉市中心城区，是国家5A级旅游景区……</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 加载盒子结束 -->
				<div class="gc_jdCon">
					<div class="gc_jdBox">
						<div class="gc_jdimgBox">
							<a href="gc_details.html"><img src="img/gc_bikan2.gif"/></a>
						</div>
						<div class="gc_jdtextCon">
							<div class="gc_jdtext">
								<p>汉口江滩</p>
								<div class="gc_priceCon"><span class="gc_price"><a href="#">免费</a></span></div>
								<p>汉口江滩，是亚洲第一大江滩文化公园，面积160万平方米…</p>
							</div>
						</div>
					</div>
				</div>
				<div class="gc_jdCon">
					<div class="gc_jdBox">
						<div class="gc_jdimgBox">
							<a href="gc_details.html"><img src="img/gc_bikan3.gif"/></a>
						</div>
						<div class="gc_jdtextCon">
							<div class="gc_jdtext">
								<p>归元寺</p>
								<div class="gc_priceCon"><span class="gc_price"><a href="#">免费</a></span></div>
								<p>归元禅寺位于湖北省武汉市汉阳区归元寺路，由白光法师于清顺治15年…</p>
							</div>
						</div>
					</div>
				</div>
				<div class="gc_jdCon">
					<div class="gc_jdBox">
						<div class="gc_jdimgBox">
							<a href="gc_details.html"><img src="img/gc_bikan4.gif"/></a>
						</div>
						<div class="gc_jdtextCon">
							<div class="gc_jdtext">
								<p>户部巷</p>
								<span class="gc_price"><a href="#">免费</a></span>
								<p>到武汉，讲到吃，你有口福啦，户部巷这个地方，是非去不可的…</p>
							</div>
						</div>
					</div>
				</div>
				<div class="gc_dilang" id="gc_dilang"></div>
			</div>
		<!--路线部分-->
		<div class="gc_bikan gc_Div gc_hide">
			<div class="bikan_content">
					<div class="bikan_select">
					<dl class="bikan_dl">
						<dt>天数:
							<dd class="bikan_checked">不限</dd>
							<dd>1~2天</dd>
							<dd>9~15天</dd>
							<dd>2~5天</dd>
							<dd>5~9天</dd>
							<dd>15天及以上</dd>
						</dt>
					</dl>
					<dl class="bikan_dl">
						<dt>时间安排:
							<dd class="bikan_checked">不限</dd>
							<dd>紧凑</dd>
							<dd>宽松</dd>
							<dd>适中</dd>
						</dt>
					</dl>
					<dl class="bikan_dl">
						<dt>出发时间:
							<dd class="bikan_checked">2~5月</dd>
							<dd>6~8月</dd>
							<dd>9~11月</dd>
							<dd>12~1月</dd>
						</dt>
					</dl>
				</div>
			</div>
			<!--旅游套餐-->
			<div class="gc_tourCon">
				<div class="gc_tourBox">
					<div class="gc_imgBox">
						<img src="img/gc_hotline.png"/>
					</div>
					<div class="gc_textCon">
						<p>武汉4日经典行程</p>
						<p>湖北省博物馆</p>
						<p>武汉东湖</p>
						<span class="gc_go">更多详情>></span>
					</div>
				</div>
			</div>
			<div class="gc_tourCon">
				<div class="gc_tourBox">
					<div class="gc_imgBox">
						<img src="img/gc_hotline2.gif"/>
					</div>
					<div class="gc_textCon">
						<p>武汉5日游行程</p>
						<p>武汉大学看樱花</p>
						<p>杜莎夫人蜡像馆</p>
						<span class="gc_go">更多详情>></span>
					</div>
				</div>
			</div>
			<div class="gc_tourCon">
				<div class="gc_tourBox">
					<div class="gc_imgBox">
						<img src="img/gc_hotline.png"/>
					</div>
					<div class="gc_textCon">
						<p>武汉9日经典行程</p>
						<p>江滩--户部巷--武汉长江大桥</p>
						<p>市博物馆--省博物馆--杜莎夫人蜡像馆</p>
						<span class="gc_go">更多详情>></span>
					</div>
				</div>
			</div>
			<div class="gc_dilang" id="gc_dilang2"></div>
			<!---->
		</div>
		<div class="gc_jieshao gc_Div gc_hide">
			<div class="gc_banner">
	            <ul class="clearfix">
	                <li><a href="#"><img src="img/gc_details5.gif" alt=""/></a></li>
	           		<li><a href="#"><img src="img/gc_details1.gif" alt=""/></a></li>
	           		<li><a href="#"><img src="img/gc_details2.gif" alt=""/></a></li>
	           		<li><a href="#"><img src="img/gc_details3.gif" alt=""/></a></li>
	           		<li><a href="#"><img src="img/gc_details4.gif" alt=""/></a></li>
	           		<li><a href="#"><img src="img/gc_details5.gif" alt=""/></a></li>
	           		<li><a href="#"><img src="img/gc_details1.gif" alt=""/></a></li>
	            </ul>
	            <ul>
	                <li class="gc_now"></li>
	                <li></li>
	                <li></li>
	                <li></li>
	                <li></li>
	            </ul>
	        </div>
	    <!--景点详细介绍-->
        	<div class="gc_detTextCon">
	        	<div class="gc_detText">
	        		<div class="gc_gaikuan">
	        			<p>概况</p>
	        			<p>游玩时间：3小时</p>
	        			<p>开放时间：8：00-21：00</p>
	        			<p class="gc_btm"><span class="gc_tic"></span>门票：免费</p>
	        			<p class="gc_btm"><span class="gc_loc"></span>位于中国湖北省武汉市中心城区</p>
	        			<p class="gc_btm"><span class="gc_tel"></span>18918918918</p>
	        		</div>
	        		<div class="gc_jianjie">
	        			<p>简介：</p>
	        			<p>东湖是国家5A级旅游景区，全国文明风景旅游区示范点，首批国家重点风景名胜区。...</p>
	        		</div>
	        		<div class="gc_pinjia">
	        			<p>旅人评价：</p>
	        			<p>今天把我吓的腿软的东湖不过蛮壮观的，很大，湖面也很大，风景非常的好…
							</p>
	        		</div>
	        	</div>
        	</div>
		</div>
	</div>
		</div>
		<script src="lib/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/template/template-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/gc_ajax.js" type="text/javascript" charset="utf-8"></script>
<!--		<script src="js/gc_lineAjax.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="js/gc_common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="js/gc_scenery.js" ></script>
		<!--景点模板-->
		<script type="text/template" id="gc_tpl">
		    <% for(var i=0; i<items.length; i++) { %>
		    	<div class="gc_jdCon">
					<div class="gc_jdBox">
						<div class="gc_jdimgBox">
							<a href="gc_details.html"><img src=<%=items[i].img %>></a>
						</div>
						<div class="gc_jdtextCon">
							<div class="gc_jdtext">
								<p><%=items[i].name %></p>
								<div class="gc_priceCon"><span class="gc_price"><a href="#"><%=items[i].price %></a></span></div>
								<p><%=items[i].valuation %></p>
							</div>
						</div>
					</div>
				</div>
		    <% } %>
		</script>
		<!--路线模板-->
		<!--<script type="text/template" id="gc_lineTpl">
		    <% for(var i=0; i<items2.length; i++) { %>
				<div class="gc_tourCon">
					<div class="gc_tourBox">
						<div class="gc_imgBox">
							<img src=<%=items2[i].img%>>
						</div>
						<div class="gc_textCon">
							<p><%=items2[i].name %></p>
							<p></p>
							<p></p>
							<span class="gc_go"></span>
						</div>
					</div>
				</div>
		    <% } %>
		</script>-->
	</body>
</html>
