<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="js/fixScreen750.js"></script>
	<title>驴友社区</title>
	<link rel="stylesheet" href="css/lt_base.css">
	<link rel="stylesheet" href="css/lt_comm.css">
	<link href="css/bootstrap.css" rel="stylesheet">
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.js"></script>
</head>
<body>
	<!-- 页面头部与图标  -->
	<div class="header">
		<div class="header_left">
			<a href="gc_scenery.html" class="header_icon"></a>
			<span class="header_name">驴友社区</span>
		</div>


		<div class="header_right">
			<a href="#" class="post">发帖</a>
			<a href="#" class="more"></a>
		</div>
	</div>
	<!-- 导航栏 -->
	<div class="nav">
		<ul class="nav_ul">
			<li class="look active">看帖</li>
			<li class="hot">热门</li>
			<li class="member">留言</li>
			<li class="group">群组</li>
		</ul>
	</div>
	<!-- 内容中心1 -->
	<div class="content con">
		<div class="clearfix">
			<div class="member">
				<div class="member_icon"><img src="img/lt_icon.gif" height="58" width="58" alt=""></div>
				<div class="member_cen">
					<span class="member_cen_icon"><img src="img/lt_icon1.gif" height="45" width="61" alt=""></span>
					<a href="#" class="member_cen_cen">单吧会员隆重上映.....</a>

				</div>
				<div class="member_box"></div>
				<a href="#" class="member_right">查看详情</a>
			</div>
			<div class="stick1">
				<a href="#" class="stick1_left">置顶</a>
				<a href="#" class="stick1_cent">【2016游去】给你30个游武汉的理由，看完...</a>
				<div class="stick1_box"></div>
				<a href="#" class="stick1_right">查看详情</a>
			</div>
			<div class="stick2">
				<a href="#" class="stick2_left">置顶</a>
				<a href="#" class="stick2_cent">记录那些在武汉游玩的美好回忆......</a>
				<div class="stick1_box"></div>
				<a href="#" class="stick2_right">查看详情</a>
			</div>
		</div>
		<div class="preson1">
			<div class="preson1_pic clearfix">
				<div class="preson1_pic_left"><img src="img/lt_preson1.gif" alt=""/></div>
				<div class="preson1_pic_top">
					宝宝爱吃糖
					<div class="preson1_pic_icon"><img src="img/jiangpai.png" alt=""/></div>
				</div>
				<div class="preson1_pic_bot"><br/>1 分钟前</div>
				<div class="preson1_bot">【<strong>武汉游记</strong>】记录到武汉的点滴<br/>来武汉已经2天了，
				、外滩、看到了魔都的繁华，明...</div>

			</div>
			<a href="#" class="preson1_bot_stick2_right">查看详情</a>
		</div>
		<div class="preson2">
			<div class="preson1_pic clearfix">
				<div class="preson1_pic_left"><img src="img/lt_preson2.gif" alt=""/></div>
				<div class="preson1_pic_top">
					开口不说话
					<div class="preson1_pic_icon"><img src="img/jiangpai.png" alt=""/></div>
				</div>
				<div class="preson1_pic_bot"><br/>20 分钟前</div>
				<div class="preson1_bot">【<strong>征友之旅</strong>】一个人来武汉旅游，找同行小伙伴<br/>说走就走的一次
				旅行，来到了魔都武汉，今天刚到，想要找一个<br/>同行的小伙伴，结伴走遍上海滩，本人男，小伙伴
				男女不限哦，<br/>如果你也是一个人来上海，那我们就一起做个伴吧！ </div>

			</div>
			<a href="#" class="preson1_bot_stick2_right">查看详情</a>
		</div>
		<div class="preson3">
			<div class="preson1_pic clearfix">
				<div class="preson1_pic_left"><img src="img/lt_preson3.gif" alt=""/></div>
				<div class="preson1_pic_top">
					睡觉不闭眼
					<div class="preson1_pic_icon"><img src="img/jiangpai.png" alt=""/></div>
				</div>
				<div class="preson1_pic_bot"><br/>45 分钟前</div>
				<div class="preson1_bot">【<strong>相约同城</strong>】刚来武汉旅行，人生地不熟，找同城
					小伙伴来一次说走就走<br/>的旅游，与同行的小伙伴、结伴走遍武汉，就等你来，你敢约吗？</div>

			</div>
			<a href="#" class="preson1_bot_stick2_right">查看详情</a>
		</div>

		<!--查看更多-->
		<div class="look_more">
			<div class="look_more_con">查看更多</div>
		</div>

		<!--底部-->
		<div class="foot">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<!--内容中心2-->
	<div class="content1 con content_hidd">
		<div class="content1_member">【2016迎新】 新人报到贴 <br/>欢迎各位来到驴友社区的新人，
		在这里介绍自己认识 <br/>朋友...... </div>
		<div class="people1">
			<div class="preson1_pic clearfix">
				<div class="preson1_pic_left"><img src="img/lt_preson1.gif" alt=""/></div>
				<div class="preson1_pic_top">
					宝宝爱吃糖
					<div class="preson1_pic_icon"><img src="img/jiangpai.png" alt=""/></div>
				</div>
				<div class="preson1_pic_bot"><br/>1 分钟前</div>
				<div class="preson1_bot">【<strong>武汉游记</strong>】记录到武汉的点滴<br/>来武汉已经2天了，去了东方明珠
					、外滩、看到了魔都的繁华，明...</div>
				<a href="#" class="preson1_bot_stick2_right">查看详情</a>
			</div>

			<div class="carousel clearfix">
				<ul class="carousel_pic">
					<li class="carousel_pic1"><img src="img/lt_shanghai1.gif" alt=""/></li>
					<li class="carousel_pic2"><img src="img/lt_shanghai2.gif" alt=""/></li>
					<li class="carousel_pic3"><img src="img/lt_shanghai1.gif" alt=""/></li>
					<li class="carousel_pic4"><img src="img/lt_shanghai2.gif" alt=""/></li>
					<li class="carousel_pic5"><img src="img/lt_shanghai1.gif" alt=""/></li>
				</ul>
				<span class="prev"><img src="img/lt_prev_l.gif" alt=""/></span>
				<span class="next"><img src="img/lt_next_l.gif" alt=""/></span>
			</div>
		</div>
		<div class="people2">
			<div class="preson1_pic clearfix">
				<div class="preson1_pic_left"><img src="img/lt_person4.gif" alt=""/></div>
				<div class="preson1_pic_top">
					开口不说话
					<div class="preson1_pic_icon"><img src="img/jiangpai.png" alt=""/></div>
				</div>
				<div class="preson1_pic_bot"><br/>20 分钟前</div>
				<div class="preson1_bot">【<strong>征友之旅</strong>】一个人来武汉旅行，找同行小伙伴<br/>说走就走的一次旅行，
				来到了魔都武汉，今天刚到，想要找一个同行 <br/>的小伙伴，结伴走遍武汉，本人男，小伙伴男女不限哦，
					<br/> 如果你也是一个人来武汉，那我们就一起做个伴吧！</div>
				<a href="#" class="preson1_bot_stick2_right">查看详情</a>
			</div>

			<div class="carousel2 clearfix">
				<ul class="carousel_pic_b">
					<li class="carousel_pic1"><img src="img/lt_shanghai3.gif" alt=""/></li>
					<li class="carousel_pic2"><img src="img/lt_shanghai4.gif" alt=""/></li>
					<li class="carousel_pic3"><img src="img/lt_shanghai3.gif" alt=""/></li>
					<li class="carousel_pic4"><img src="img/lt_shanghai4.gif" alt=""/></li>
					<li class="carousel_pic5"><img src="img/lt_shanghai3.gif" alt=""/></li>
				</ul>
				<span class="prev2"><img src="img/lt_prev.gif" alt=""/></span>
				<span class="next2"><img src="img/lt_next.gif" alt=""/></span>
			</div>
		</div>
		<!--查看更多-->
		<div class="look_more2">
			<div class="look_more_con">查看更多</div>
		</div>
		<!--输入框-->
		<div class="entry">
			<form action="#">
				<div class="entry_icon"><img src="img/lt_input_icon.gif" alt=""/></div>
				<div class="input-groupz">
					<input class="form-control" type="text" placeholder="&nbsp;回复楼主"/>
					<span class="input-group-addon">已有10条回帖</span>
				</div>

			</form>
		</div>
		<!--底部-->
		<div class="foot">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<!--内容中心3-->
	<div class="content2 con content_hidd ">
			<div class="container">
			<div class="entry">
				<form action="#">

					<div class="input-group">
						<input class="form-control" type="text" id="textInput" placeholder="&nbsp;留言"/>
						<span class="input-group-addon" id="ajaxInput" >点击发送</span>
					</div>

				</form>
			</div>
			<div class="messageBox">

			</div>



	</div>
	</div>
	<!--内容中心4-->
	<div class="content3 con content_hidd ">
		<div class="content3_pic">
			<img src="img/loading5.gif" alt=""/>
		</div>
		<!-- Small modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">点击更新</button>

		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					更新失败
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery.js"></script>

	<script src="js/lt_index.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="lib/template-native.js"></script>
	<script type="text/javascript">
		$(function(){
	       $.ajax({
	            type:'post',
	            data:{},
	            url:'lt_commload.php',
	            success:function(info){
	            	console.log(info);

	                var data={
	                    items:info
	                };
	                // console.log(data);
	                var html=template("tpl",data);
	                $('.messageBox').append(html);
	            }

	        });
		}
	    );


		$('#ajaxInput').on('click',function () {

			var myBox = document.createElement('div');
			myBox.className ='self';
			var myBoxTime = document.createElement('span');
			myBoxTime.className ='time';
			var headShow= document.createElement('div');
			headShow.className ='headShow';
			var headShowIMG= document.createElement('img');
			var inputText=null;
			if($('#textInput')[0].value ==""||$('#textInput')[0].value =="请输入内容"){
				$('#textInput')[0].value ="请输入内容";
				return false;
			};
			$.ajax({
				type: 'post', // 请求方式
				url: 'lt_comm.php', // 请求地址
				data: {message:$('#textInput').val()},
				success: function (info) { // 回调的方法
					info=JSON.parse(info);
					myBox.innerText = info.user+':'+$('#textInput').val();
					myBoxTime.innerText=info.date;
					$('.messageBox')[0].insertBefore(myBox,$('.messageBox div:first-child')[0]);
					headShowIMG.src='data/'+info.user+'.jpg';
					$(headShow).append(headShowIMG);
					$(myBox).append(headShow);
					$(myBox).append(myBoxTime);
					$('#textInput')[0].value = "";

				}

			})

		})
		$('#textInput').focus(function (){
			$('#textInput')[0].value = "";
		});




	</script>
	<script type="text/template" id="tpl">
    <% for(var i=items.length-1; i>-1; i--) { %>
	<div class="self">
		<%= items[i].message %>
		<%  var path='data/'+items[i].user+'.jpg'   %>
		<div class="headShow" ><img src= <%= path%> alt=""></div>
		<span class="time">
		<%= items[i].time %>
		</span>
	</div>
	<% } %>

</script>
</body>
</html>