<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出行服务</title>
    <script src="js/fixScreen750.js"></script>
    <link rel="stylesheet" href="css/lz_base.css"/>
    <link rel="stylesheet" href="css/lz_commen.css"/>
    <link rel="stylesheet" href="css/zhoubianyuding.css"/>
</head>
<body>
<div class="lz_body">
    <header class="lz_header lz_center">
        <a href="lt_cate.html"><span class="fl">&lt;</span></a>
        周边预定

    </header>
    <div class="lz_row">
        <span class="now">酒店预订</span>
        <span>门票预定</span>
        <span>美食推荐</span>
        <span>出行服务</span>
    </div>
    <!--第一个选项-->
    <div class="mainBody1 mainBody" style="display: block">
        <div class="lz_button fr">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>
    <div class="mainBody2 mainBody" style="display: none">
        <form action="" class="clearfix">
            <input type="search" placeholder="景点名称/目的地/游玩主题"/>
            <span class="icon_search"></span>
        </form>
        <div class="item_body">
            <div class="mainBody2_item">
                <div class="left fl">
                    <div class="body2Mask">

                    </div>
                    <p>经典推荐</p>
                    <img src="img/lz_mp1.png" alt=""/>
                </div>
                <div class="right fl">
                    <h2 class="top">东湖</h2>
                    <div class="center"><img src="img/lz_heart.gif" alt=""/><span class="fr">免费</span></div>
                    <div class="body2_score bottom">月销:1526人 <span>4.9分</span> </div>
                </div>

            </div>
            <div class="mainBody2_item">
                <div class="left fl">
                    <div class="body2Mask">

                    </div>
                    <p>经典推荐</p>
                    <img src="img/lz_mp1.png" alt=""/>
                </div>
                <div class="right fl">
                    <h2 class="top">东湖</h2>
                    <div class="center"><img src="img/lz_heart.gif" alt=""/><span class="fr">免费</span></div>
                    <div class="body2_score bottom">月销:1526人 <span>4.9分</span> </div>
                </div>

            </div>
            <div class="mainBody2_item">
                <div class="left fl">
                    <div class="body2Mask">

                    </div>
                    <p>经典推荐</p>
                    <img src="img/lz_mp1.png" alt=""/>
                </div>
                <div class="right fl">
                    <h2 class="top">东湖</h2>
                    <div class="center"><img src="img/lz_heart.gif" alt=""/><span class="fr">免费</span></div>
                    <div class="body2_score bottom">月销:1526人 <span>4.9分</span> </div>
                </div>

            </div>
            <div class="mainBody2_item">
                <div class="left fl">
                    <div class="body2Mask">

                    </div>
                    <p>经典推荐</p>
                    <img src="img/lz_mp1.png" alt=""/>
                </div>
                <div class="right fl">
                    <h2 class="top">东湖</h2>
                    <div class="center"><img src="img/lz_heart.gif" alt=""/><span class="fr">免费</span></div>
                    <div class="body2_score bottom">月销:1526人 <span>4.9分</span> </div>
                </div>

            </div>


        </div>
    </div>
    <div class="mainBody3 mainBody" style="display: none">
        <div class="lz_body3_slider">
            <div class="slider_body">
                <div class="slider_mask">

                </div>
                <ul>
                    <li><a href=""><img src="img/lz_ms_slider_1.png" alt=""/></a></li>
                    <li><a href=""><img src="img/lz_ms_slider_1.png" alt=""/></a></li>
                    <li><a href=""><img src="img/lz_ms_slider_1.png" alt=""/></a></li>
                    <li><a href=""><img src="img/lz_ms_slider_1.png" alt=""/></a></li>
                    <li><a href=""><img src="img/lz_ms_slider_1.png" alt=""/></a></li>
                    <li><a href=""><img src="img/lz_ms_slider_1.png" alt=""/></a></li>
                </ul>
                <ol>
                    <li class="lz_body3_current"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>

        </div>
        <div class="recommend">
            <div class="header">
                <h2>特色美食</h2>
            </div>
            <div class="pic_recommend">
                <div class="recommend_item">
                    <img src="img/lz_ms1.png" alt=""/>
                    <p>红烧肉</p>
                </div>
                <div class="recommend_item">
                    <img src="img/lz_ms2.png" alt=""/>
                    <p>水晶饺子</p>
                </div>
                <div class="recommend_item">
                    <img src="img/lz_ms3.png" alt=""/>
                    <p>清蒸多宝鱼</p>
                </div>
                <div class="recommend_item">
                    <img src="img/lz_ms4.png" alt=""/>
                    <p>西子酱鸭</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mainBody4 mainBody" style="display:none">
        <div class="lz_main">
            <h2>夜色朦胧</h2>
            <h3>为你的出行量身定制</h3>
        </div>
        <section class="item item1">
            <div class="class">
                <div class="word">
                    自驾租车
                </div>
            </div>
            <div class="classifies">
                <div class="classify left">
                    <a href="">

                        <div class="map">

                        </div>
                        <div class="mask"></div>
                        <div class="car"><img src="img/lz_car.png" alt=""/>

                        </div>
                        <p>国内租车</p>
                    </a>
                </div>
                <div class="classify right">
                    <a href="">

                        <div class="map">

                        </div>
                        <div class="mask"></div>
                        <div class="car"><img src="img/lz_car.png" alt=""/>

                        </div>
                        <p>市内租车</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="item item2">
            <div class="class">
                <div class="word">
                    接送用车
                </div>
            </div>
            <div class="classifies">
                <div class="classify left">
                    <a href="">
                        <div class="map"></div>
                        <p>接送飞机</p>
                    </a>
                </div>
                <div class="classify right">
                    <a href="">

                        <div class="map"></div>
                        <p>接送火车</p>
                    </a>
                </div>
            </div>
        </section>

        <section class="item item3">
            <div class="class">
                <div class="word">
                    包车出游
                </div>
            </div>
            <div class="classifies">
                <div class="classify left">
                    <a href="">

                        <div class="map">

                        </div>
                        <p>专车出行</p>
                    </a>
                </div>
                <div class="classify right">
                    <a href="">

                        <div class="map">
                        </div>
                        <p>日租包车</p>
                    </a>
                </div>
            </div>
        </section>

    </div>
    <ul class="lz_ajax_load">
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<script src="lib/template-native.js"></script>
<script src="lib/jquery.min.js"></script>

<script>
    //加载页面结构
    $(function(){
        makeHtml(1);
    });

    function makeHtml(page){
        $.ajax({
            type:'post',
            data:{page:page},
            url:'zhoubianyudingjiazai.php',
            success:function(info){
                var data={
                    items:info.items
                };
                var html=template("tpl",data);
                $('.mainBody1').attr('data-page',info.page);
                $('.mainBody1').append(html);
            }
        });
        //门票预订的ajax,来不及写了,一定保留
//        $.ajax({
//            type:'post',
//            data:{},
//            url:'zhoubianyudingjiazai.php',
//            success:function(info){
//                var data={
//                    items:info.items
//                };
//                var html=template("tpl",data);
//                $('.mainBody1').attr('data-page',info.page);
//                $('.mainBody1').append(html);
//            }
//        });
    };
    //点击 加载
    $('.lz_ajax_load').on('click', function(){
        var scrollTop=$(this).scrollTop();
        var scrollHeight=$(document).height();
        var windowHeight=$(this).height();
        if(scrollTop+windowHeight<scrollHeight-20){
            var page=$('.mainBody1').attr('data-page');
            makeHtml(page);
        }
    });
    //显示tab兰内容
    $('.lz_row').children('span').on('click',function(){
        $('.lz_row').children('span').removeClass('now');
        $(this).addClass('now');

    });
    for(let i=0;i<4;i++){
        let dom=$(".lz_row").children('span')[i];
        let togbody=$('.mainBody')[i];
        let $togbody=$(togbody);
        dom.addEventListener("click",function(){
            $('.mainBody').hide('slow');
            $togbody.show('slow');

        });
    }


</script>
<script src="js/mstj.js"></script>
<script>
    //美食推荐
    mstj(1000,3000);
</script>
<script type="text/template" id="tpl">
    <% for(var i=0; i<items.length; i++) { %>
    <section class="item">

        <div class="showPic">
            <img src=<%= items[i].img %> alt=""/>
        </div>
        <div class="description">
            <h2><%= items[i].name %></h2>
            <span class="h2 score"><%= items[i].score %>分</span>
            <span class="comment"><%= items[i].comment %>条点评</span>
            <p><%= items[i].type %></p>
            <p>距离<%= items[i].distance %>米</p>
            <div class="fr">
                <p><span class="h2">&yen<%= items[i].price %></span>起</p>
                <span class="tuan">团</span>&nbsp;
                <p>人民广场</p>
            </div>
        </div>
    </section>
    <% } %>
</script>
</body>
</html>